@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME TO NCB</h1>
    <p>The website is still in the process of designing but you can still access most major functions
    </p>
    <img src="~/imgs/hammer.gif" />
    

</div>
