@model AccountDTO
@{
    ViewData["Title"] = "Create Account";
}

<h1>Create Account</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" asp-items="@ViewBag.Users" data-placeholder="select user" class="form-control form-select chosen"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountType"></label>
                <select asp-for="AccountType" asp-items="Html.GetEnumSelectList<NCB.Models.AccountType>()" data-placeholder="select account type" class="form-control form-select"> </select>
                <span asp-validation-for="AccountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyId"></label>
                <select asp-for="CurrencyId" asp-items="@ViewBag.Currencies" data-placeholder="select currency" class="form-control form-select"> </select>
                <span asp-validation-for="CurrencyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" min="10000"/>
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardExpirationDate" class="control-label"></label>
                <input asp-for="CardExpirationDate" class="form-control" />
                <span asp-validation-for="CardExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardSecurityCode" class="control-label"></label>
                <input asp-for="CardSecurityCode" class="form-control" />
                <span asp-validation-for="CardSecurityCode" class="text-danger"></span>       
            </div>
            <div class="form-group">
                <button asp-action="Create" value="Create "type="submit" class="btn btn-primary">Create Account</button>
                <button  asp-action="Index" class="btn btn-outline-info">Cancel</button>
            </div>
        </form>

    </div>
</div>

@section Scripts
    {
        <script>
            $(function () {

                //normal dropdown
                $(".chosen").chosen();
                //multiselect dropdown
            });
        </script>
}